<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756198199550-vvmu8f1tkc5bjd7cnetd02st5r9qd1ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756198199550-vvmu8f1tkc5bjd7cnetd02st5r9qd1ie</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>756198199550-5aolkn7t542vbfhp2mqie952cflohkrc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOjoCVS1z3DRuBRZcigCn83wZ8O7PjEak</string>
	<key>GCM_SENDER_ID</key>
	<string>756198199550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.t4t.app</string>
	<key>PROJECT_ID</key>
	<string>tfourt-c7b9d</string>
	<key>STORAGE_BUCKET</key>
	<string>tfourt-c7b9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756198199550:ios:0673988f2e8e0d8ebb15af</string>
</dict>
</plist>